.body{
  color: #503520
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color:#95511B
}

header {
  background-color: #092219;
  width: auto;
  position: fixed;
  z-index: 9999%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
  text-decoration: none;
  color: #454940;
  text-transform: uppercase;
  font-weight: 10;
  font-size:8;
  padding: 10p;
}

.navigation a {
  color: #646C81;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 500;
  padding-left: 15px;
  margin: 2px;
}

.navigation a:hover {
  color: #06B469;
}

section {
  padding: 100px 200px;
}

.main {
  width: auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(mh.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main h2 {
  font-weight: 600;
  color: #F70202;
  font-size: 2.5em;
}

.main h2 span {
  display: inline;
  margin-top: 10px;
  font-size: 3.5em;
  color: #A7FF4E;
  font-weight: 600;

}

.main h3 {
  font-size: 2em;
  font-weight: 700;
  color: #A82020;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.main-btn {
  text-decoration: none;
  background-color: #B71C1C;
  color: #322A2A;
  font-size: 1.6em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.7s ease;
}

.main-btn:hover {
  background-color: #26BE43;
  transform: scale(1.1)
}

.social-icon a {
  color: #FFFFFF;
  font-size: 3em;
  padding-right: 60px;
}

.title {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 30px;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

}

.card {
  background-color: #1F2621;
  width: 30.25em;
  min-height: 35em;
  box-shadow: 0 15px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
  padding: 0 25px;
  margin: 30px;
  transition: 0.7s ease;
  border-block-end-color: violet
}

.card:hover {
  transform: scale(1.1)
}

.icon {
  color: #3a6cf4;
  font-size: 15em;
  text-align: center;
}

.info {
  text-align: center;
  font-size: 1.5em;
}

.info h3 {
  font-size: 2em;
  font-weight: 500;
  color: #213A18;
  margin: 10px;
}

.projects {
  background-color: #213626;
}

.projects .content {
  margin-top: 30px;
}

.project-card {
  background: #000000;
  border: 2px solid #AF0A0A;
  min-height: 14em;
  width: 30em;
  overflow: hidden;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;

}

.project-card:hover .ptoject-image {
  opacity: 0.9;

}

.project-card:hover {
  transform: scale(1.1)
}


.ptoject-image img {
  width: auto;

}


h4 {
  font-size: 2.2em;
  color: #211A1A;
  padding: 40px;
  font-weight: 400;
}

.footer {
  background-color: #18945C;
  color: #941818;
  padding: 2em;
  display: auto;
  justify-content: space-between;
}